*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00aaff, #00ff6c);
}

.container {
    top: 0;
    max-width: 60ch;
    width: 80%;
    margin: auto;
}

header h1 {
    margin-top: 0;
    font-size: 2rem;
    font-weight: bold;
}

header h1,
p {
    margin: 10px 0;
    text-align: center;
}

.form-main {
    background: linear-gradient(to top right, rgba(180, 180, 180, 0.5), rgba(150, 150, 150, 0.5));
    color: white;
    padding: 1em;
    display: grid;
    row-gap: 1em;
}

#stress-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.5em;
}

#input-toggles {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.5em;
    margin-bottom: 10px;
}

input {
    background-color: rgba(222, 222, 222, 0.5);
    border: none;
}

input:disabled {
    background-color: rgba(222, 222, 222, 0.1);
}

legend {
    grid-column: 1 / 3;
    font-weight: bolder;
}

.radioLabel {
    grid-column: 1 / 2;
}

#ktInput,
#ktLabel {
    grid-column: 2 / 3;
}

#ktLabel {
    grid-row: 2 / 3;
}

#pkpkLabel {
    grid-column: span 2;
    margin-top: 10px;
}

#results {
    box-sizing: border-box;
    table-layout: fixed;
    width: 100%;
}

td, th {
    background-color: rgba(150, 150, 150, 0.5);
    color: white;
    text-align: center;
    padding: 0.3em;
    font-size: 0.9rem;
}

.col1 {
    width: 45px;
}

.col6 {
    width: 70px;
}

th {
    background-color: rgba(130, 130, 130, 0.5);
    font-weight: bolder;
}

sub {
    font-size: x-small;
}

#results {
    margin: 1em 0;
}

#waveform {
    background-color: rgba(130, 130, 130, 0.7);
    margin: 1em 0;
}

.delete, .result-id {
    text-decoration: none;
    color: white;
    transition: ease-in;
}

.delete:hover, .result-id:hover {
    color: rgba(222, 222, 222, 0.5);
}

@media only screen and (max-width: 450px) {
    * {
        font-size: 12px;
    }
    
    .container {
        width: 95%;
    }

    header {
        font-size: 2rem;
    }

    .col1 {
        width: 30px;
    }

    .col6 {
        width: 50px;
    }
}